<h1><%= @campaign.title %></h1>
<p><%= @campaign.description %></p>
<p>Categories: <%= @campaign.categories.map(&:name).join(", ") %></p>
<p>Created by: <%= @campaign.user_full_name %></p>
<p>Created on: <%= formatted_date(@campaign.created_at) %></p>

<% if can? :edit, @campaign %>
    <% link_to "Edit", edit_campaign_path(@campaign), class: "btn btn-info" %>
<% end %>

<% if can? :destroy, @campaign %>
    <% link_to "Delete", @campaign, class: "btn btn-danger", method: :delete, remote: false %>
<% end %>
